.twoCharsCol {
    display: grid;
    grid-template-columns: 2ch auto;
}

.fiveCharsCol {
    display: grid;
    grid-template-columns: 5ch auto;
}

#twoRowsGrid{
    display: grid;
    grid-template-rows: 2ch;
    padding-bottom: 30px;
}
